.callout h1 {
    font-size: 30px;
}

.callout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 800px) {

    .callout h1 {
        font-size: 20px;
    }

    .callout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }
}