h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    color: white;
}

p {
    color: white;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 35px;
}

label {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 5px;
}

input {
    width: 100%;
    height: 32px;
    border-radius: 15px;
    background-color: #ffffff66;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-bottom: 10px;
}

.box1 {
    background-color: #3F7586;
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

    transform: translateX(0%);
    transition: transform 2s;

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #3F7586;
        z-index: -200;
    }

    &::before {
        top: 3rem;
        border-radius: 15px;
    }

    &::after {
        bottom: 3rem;
        border-radius: 15px;
    }
}

.box1Active {
    background-color: #3F7586;
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

    transform: translateX(66%);
    transition: transform 2s;

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #3F7586;
        z-index: -200;
    }

    &::before {
        top: 3rem;
        border-radius: 15px;
    }

    &::after {
        bottom: 3rem;
        border-radius: 15px;
    }
}

.box2 {
    background-color: #545454;
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(-151%);
    transition: transform 2s;
}

.box2Active {
    background-color: #545454;
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(0%);
    transition: transform 2s;
}

.loginFormStyleActive {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 2s ease-in-out;
}

.signUpFormStyleActive {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
    right: center;
    z-index: 500;
    transition: 2s ease-in-out;
}

.socialMedia {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.socialMediaText {
    margin-bottom: 15px;
}

.formInputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formInputStyle {
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.linksInput {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linksInput label {
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: normal;
}

.forgotLink {
    display: flex;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    accent-color: #008F8C;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

button {
    width: 170px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 40px;
}


.signUpButton {
    background-color: #008F8C;
    color: white;
    font-weight: bold;
}

.backgroundBox {
    background-color: #1B1C1E;
    width: 65%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

@media screen and (max-width: 800px) {
    h1 {
        color: white;
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 10px;
    }

    h2 {
        color: white;
    }

    p {
        color: white;
        font-size: 10px;
        margin-top: 0px;
        margin-bottom: 35px;
    }

    label {
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding-left: 5px;
        padding-bottom: 5px;
    }

    input {
        width: 100%;
        height: 32px;
        border-radius: 15px;
        background-color: #ffffff66;
        border: none;
        outline: none;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .loginFormStyleActive {
        /* background-color: white; */
        width: 100%;
        height: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* position: relative; */
        /* top: 0%; */
        /* right: center; */
        /* z-index: 500; */
        /* transform: translateX(25%); */
        transition: transform 2s ease-in-out;
    }

    .signUpFormStyleActive {
        /* background-color: white; */
        width: 100%;
        height: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0%;
        right: center;
        z-index: 500;
        /* transform: translateX(-30%); */
        transition: 2s ease-in-out;
    }

    .socialMedia {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .socialMediaText {
        margin-bottom: 15px;
    }

    .formInputs {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .formInputStyle {
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .linksInput {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .linksInput label {
        /* display: flex; */
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: normal;
    }

    .forgotLink {
        display: flex;
        /* float: right; */
    }

    input[type=checkbox] {
        width: 15px;
        height: 15px;
        accent-color: #008F8C;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
        padding-left: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    button {
        width: 170px;
        height: 40px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .loginForm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 40px;
    }


    .signUpButton {
        background-color: #008F8C;
        color: white;
        font-weight: bold;
    }

    .callout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .backgroundBox {
        background-color: #1B1C1E;
        width: 90%;
        height: 65%;
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    .box1 {
        background-color: #3F7586;
        width: 60%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        transform: translateX(0%);
        transition: transform 2s;

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #3F7586;
            z-index: -200;
        }

        &::before {
            top: 3rem;
            border-radius: 15px;
        }

        &::after {
            bottom: 3rem;
            border-radius: 15px;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .box1Active {
        background-color: #3F7586;
        width: 60%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        transform: translateX(66%);

        transition: transform 2s;

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #3F7586;
            z-index: -200;
        }

        &::before {
            top: 3rem;
            border-radius: 15px;
        }

        &::after {
            bottom: 3rem;
            border-radius: 15px;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;

    }

    .box2 {
        background-color: #545454;
        width: 40%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;

        display: flex;
        align-items: center;
        justify-content: center;




        transform: translateX(-151%);
        transition: transform 2s;
    }

    .box2Active {
        background-color: #c02727;
        width: 40%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateX(0%);
        transition: transform 2s;
    }

}