.navBarBackground {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(84, 84, 84, 0.75);
    min-height: 12vh;
    max-height: 12vh;
    z-index: 999;
}

.navLinks {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    width: 30%;
}

.navLinks label {
    margin-right: 15px;
    cursor: pointer;
}

.navLogo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 800px) {
    .navBarBackground {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(231, 231, 231, 0.75);
        min-height: 8vh;
        max-height: 8vh;
        z-index: 999;
    }

    .navLogo {
        position: relative;
        left: 0;
        transform: translateX(0%);
        margin-top: 5px;
    }

    .navLinks {
        color: white;
        font-weight: bold;
        font-size: 10px;
        margin-left: 10px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navLinks label {
        margin-right: 10px;
        cursor: pointer;
        font-size: 12px;
    }   
}