section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

button {
  /* font: inherit; */
  cursor: pointer;
  background: #008F8C;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #008f8d62;
}

h1 {
  color: white;
  font-weight: bold;
}